<ion-row>
    Esta es la ruta: {{ruta}}
    <ion-col size="12" *ngIf="imagen">
        <ion-card>
            <img [src]="imagen | imageSanitizer">
        </ion-card>
    </ion-col>

    <ion-col size="12" *ngIf="!imagen">
        <ion-card>
            <img src="/assets/img/pre-imagen.png">
        </ion-card>
    </ion-col>
</ion-row>
<ion-button
        type="submit"
        (click)="camara()"
        color="tertiary"
        expand="block">Tomar Foto
    <ion-icon slot="start" name="camera"></ion-icon>
</ion-button>

<ion-button
        type="submit"
        (click)="libreria()"
        color="tertiary"
        expand="block">Seleccionar Imagen
    <ion-icon slot="start" name="images"></ion-icon>
</ion-button>

