<ion-header>
    <ion-toolbar class="ion-text-center" color="dark">
        <ion-title>Unidades Disponibles</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <ion-list *ngFor="let item of lstUnidadDisponible">
        <ion-item color="dark">
            <ion-avatar slot="start">
                <img *ngIf="!item.tipoUsuarioPersona.imagen"
                     src="/assets/avatars/{{ item.tipoUsuarioPersona.usuario.avatar }}">
                <img *ngIf="item.tipoUsuarioPersona.imagen"
                     [src]="(item.tipoUsuarioPersona.imagen | imagen: item.tipoUsuarioPersona._id )|urlSanitizer">
            </ion-avatar>
            <ion-label>
                <h2>{{item.tipoUsuarioPersona.persona.nombres}}{{' '}} {{item.tipoUsuarioPersona.persona.apellidos}}</h2>
                <h3>Unidad:{{' '}}{{item.nombreAlias}}</h3>
                <p>Placa:{{' '}}{{item.vehiculo.placa}}</p>
            </ion-label>
            <ion-badge slot="end"
                       color="{{ item.estadoDiponibilidad.color }}">{{item.estadoDiponibilidad.nombre}}</ion-badge>
        </ion-item>
    </ion-list>
    <app-solicitud-ruta></app-solicitud-ruta>
</ion-content>
