<form [formGroup]="ingresoForm" (ngSubmit)="registerNewUser()">
    <ion-row>
        <ion-col>
            <ion-list class="background-input">
                <ion-item color="dark">
                    <ion-label position="floating">Nombres</ion-label>
                    <ion-input formControlName="nombres" required></ion-input>
                </ion-item>
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.nombres">
                        <div class="error-message"
                             *ngIf="ingresoForm.get('nombres').hasError(error.type) && (ingresoForm.get('nombres').dirty || ingresoForm.get('nombres').touched) ">
                            {{error.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item color="dark">
                    <ion-label position="floating">Apellidos</ion-label>
                    <ion-input formControlName="apellidos"></ion-input>
                </ion-item>
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.apellidos">
                        <div class="error-message"
                             *ngIf="ingresoForm.get('apellidos').hasError(error.type) && (ingresoForm.get('apellidos').dirty || ingresoForm.get('apellidos').touched) ">
                            {{error.message}}
                        </div>
                    </ng-container>
                </div>

                <ion-item color="dark">
                    <ion-label position="floating">Cédula</ion-label>
                    <ion-input maxlength="13" formControlName="identificacion"></ion-input>
                </ion-item>
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.cedula">
                        <div class="error-message"
                             *ngIf="ingresoForm.get('identificacion').hasError(error.type) && (ingresoForm.get('identificacion').dirty || ingresoForm.get('identificacion').touched) ">
                            {{error.message}}
                        </div>
                    </ng-container>
                </div>

                <ion-item color="dark">
                    <ion-label>Fecha de nacimiento</ion-label>
                    <ion-datetime formControlName="fechaNacimiento"
                                  display-format="MMM DD, YYYY"></ion-datetime>
                </ion-item>

                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.fechaNacimiento">
                        <div class="error-message"
                             *ngIf="ingresoForm.get('fechaNacimiento').hasError(error.type) && (ingresoForm.get('fechaNacimiento').dirty || ingresoForm.get('fechaNacimiento').touched) ">
                            {{error.message}}
                        </div>
                    </ng-container>
                </div>

                <ion-item color="dark">
                    <ion-label>Sector de domicilio</ion-label>
                    <ion-select ngModel="segmentoArticulo.sector" formControlName="sector"
                                value="sector._id" okText="Okay" cancelText="Dismiss">
                        <ion-select-option *ngFor="let sector  of lstSectores"
                                           value="{{sector._id}}">{{sector.descripcion}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-item color="dark">
                    <ion-input formControlName="correo" type="text" placeholder="Email"></ion-input>
                </ion-item>
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.correo">
                        <div class="error-message"
                             *ngIf="ingresoForm.get('correo').hasError(error.type) && (ingresoForm.get('correo').dirty || ingresoForm.get('correo').touched) ">
                            {{error.message}}
                        </div>
                    </ng-container>
                </div>

              <!--  <ion-item color="dark">
                    <ion-input formControlName="clave" type="password"
                               placeholder="Password"></ion-input>
                </ion-item>
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.clave">
                        <div class="error-message"
                             *ngIf="ingresoForm.get('clave').hasError(error.type) && (ingresoForm.get('clave').dirty || ingresoForm.get('clave').touched) ">
                            {{error.message}}
                        </div>
                    </ng-container>
                </div>-->

                <!--<ion-item color="dark">
                    <ion-input formControlName="passwordValidator" type="password"
                               placeholder="Password"></ion-input>
                </ion-item>
                <div class="error-messages" *ngIf="ingresoForm.errors?.sonIguales && !ingresoForm.pristine">
                    <ng-container>
                        <div class="error-message">
                            Las contraseñas deben ser iguales
                        </div>
                    </ng-container>
                </div>-->
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-button
                    type="submit"
                    color="tertiary"
                    expand="block">Actualizar Perfil
            </ion-button>
        </ion-col>
    </ion-row>
    <pre>{{tipoUsuarioPersona|json}}</pre>
</form>
